﻿@model WebApplication.Models.SearchViewModel
@Html.ValidationSummary()
@using (Html.BeginForm("SubmitQuery", "Home", FormMethod.Post))
{
    <div class="form-group">
        <p>Search google with the search term: @Html.EditorFor(o => o.SearchValue) @Html.ValidationMessageFor(model => model.SearchValue)</p>
            <p> Count how many results contain the term: @Html.EditorFor(o => o.TargetTerm) @Html.ValidationMessageFor(model => model.TargetTerm)</p>
             <p>Check the first: @Html.EditorFor(o => o.NumberOfResultsToSearch) results @Html.ValidationMessageFor(model => model.NumberOfResultsToSearch)</p>
            <input type="submit" class="btn btn-primary" value="Go!"/>
    </div>
}