﻿@model WebApplication.Models.SearchResultModel

<h3>Result</h3>
<p>
    Number of hits: @Html.ValueFor(o => o.NumberOfHits)
    
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Do another Search</a>
</p>